@using IS_Klinika.Areas.ModulKadrovskaSluzba.Models
@{
    ViewBag.Title = "Index";
}
@model IS_Klinika.Areas.ModulKadrovskaSluzba.Models.SmjenaIndexVM

<br /><br /><br />
<div>
    <div class="well well-sm"><span class="text-bg text-info" >Smjena info</span></div>
    <div>
        <table class="table table-striped">
            <tr>
                <th>Naziv</th>
                <th class="text-bold text-danger">Valid</th>
                <td>
                    @Html.ActionLink("+", "Dodaj", new { }, new { @class="btn btn-success btn-xs"})
                </td>
            </tr>
            @foreach (SmjenaIndexVM.SmjenaInfo x in Model.SmjenaList)
            {
                <tr>
                    <td>@x.Naziv</td>
                    <td>@Html.CheckBox("Valid",x.Valid)</td>
                    <td>
                        @Html.ActionLink("Uredi", "Uredi", new { smjenaId = x.Id }, new { @class="btn btn-primary btn-xs"})
                        @Html.ActionLink("Obriši", "Obrisi", new { smjenaId = x.Id },new{@class="btn btn-danger btn-xs"})
                        @Ajax.ActionLink("Termini", "Index","Termini", new { smjenaId = x.Id}, new AjaxOptions() { UpdateTargetId = "UrediSmjene" }, new { @class = "btn btn-warning btn-xs" })
                        </td>
                </tr>
            }
        </table>
    </div>
</div>
<div id="UrediSmjene"></div>

