@using IS_Klinika.Areas.ModulAdministracija.Models
@{
    ViewBag.Title = "Krvna grupa - unos";
}
@model IS_Klinika.Areas.ModulAdministracija.Models.KrvnaGrupaUrediVM

@using (Html.BeginForm("Snimi", "KrvnaGrupa")) { 
    <br /><br /><br />
<div>
    <div class="col-md-offset-3 col-md-6">
        <div class="well well-sm"><span class="text-bg text-info">Krvna grupa</span></div>
        <div class="form-group">
            <div class="input-group-sm">
                <label>Naziv</label>
                @Html.TextBoxFor(model => model.Naziv, new { @class = "form-control" })
                @Html.ValidationMessage("Naziv", new { @class="text-danger"})
            </div>
        </div>
        <div class="form-group">
            <div class="input-group-sm">
                <label>RH - faktor</label>
                @Html.TextBoxFor(model => model.RHFaktor, new { @class = "form-control" })
                @Html.ValidationMessage("RHFaktor", new { @class="text-danger"})
            </div>
        </div>
        <div class="form-group">
            <div class="input-group-sm">
                <label class="checkbox checkbox-inline"><span class="text-bg text-danger">Valid</span></label>
                @Html.CheckBoxFor(model => model.Valid, new { @class = "checkbox checkbox-inline" })
            </div>
        </div>
        <br />
        <div>
            <input type="submit" value="Snimi" class="btn btn-success btn-xs" />
        </div>
    </div>
</div>
}


